*.iml
.gradle
/gradle/gradle-daemon-jvm.properties
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
weather.local.properties

miuix-0.9.4
xms-wearable-sdk
key.properties
app/simple-weather-release-key.jks
.claude
